<div class="main_container">
  <div class="container my-4">
    <h2>Tus Bookings</h2>
    <%if @user_bookings.empty?%>
      <h4 class="my-4"style="color:red;"> Actualmente no tienes Bookings, crea uno!</h4>
      <%= link_to "Ver Ofertas", offers_path, class: "btn btn-danger"%>
    <%else%>
        <% @user_bookings.each do |booky| %>
        <%state = State.find(booky.offer.state_id)%>
        <%country = Countrie.find(state.countrie_id)%>
        <%costo_vuelo = booky.offer.cost%>
        <%costo_tarifa = booky.rate.cost%>
        <%total_costo = costo_tarifa + costo_vuelo%>
        <div class="list-group my-4">
          <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h3><%=state.name%>, <%= country.name %></h3>
                <small>Aeropuerto Internacional de <%= country.name %></small>
              </div>
              <p style="font-size:18px;">Fecha del salida:<br><%= booky.fec_ini %></p>
              <p style="font-size:18px;">Fecha del retorno:<br><%= booky.fec_end %></p>
              <h5 style="font-weight: 800; color: red;">Tarifa <%= booky.rate.name %></h5>
            </div>
                <hr>
              <h5><%= booky.user.name.capitalize %> <%= booky.user.last_name.capitalize %></h5>
              <small>CI: <%= booky.user.id_number %></small>
              <p>Número de asientos reservados: 1</p> <%# EDITAR AQUÍ NUEVA COLUMNA ASIENTOS RESERVADOS%>
            <div class="d-flex justify-content-between">
              <p style="font-size:18px;">Costo de tarifa:<br><%= booky.rate.cost %>$</p>
              <p style="font-size:18px;">Costo del vuelo:<br><span> <%= booky.offer.cost %>$</span></p>
              <p style="font-size:18px;">Total:<br><span style="font-size:22px; color:limegreen;"> <%= total_costo %>$</span></p>
            </div>
          </div>
        </div>
        <% end %>
    <%end%>
  </div>
</div>
