<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= simple_form_for [@offer, @booking] do |f|   %>
    <%= f.input :date %>
    <%= f.association :rate %>
    <%= f.association :offer %>
    <%= f.submit "Crear Booking", class: "btn btn-primary" %>
  <% end %>
