<%# <div class="offer-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('halloween.webp');" > %>
<div class="offer-banner" style="background-image: url('https://images.unsplash.com/photo-1597389110829-7a0d5e6a8d0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80')">
  <h2>Descubre los mejores destinos a tu lugar favorito!</h2>
    <%# Insertar form de búsqueda aquí %>
    <div class="contenedor">
      <%= form_tag offers_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Encuentra tu destino ideal" %>
        <%= submit_tag "Buscar", class: "btn btn-danger my-1" %>
      <% end %>
    </div>
</div>
<div class="offer-container">
  <div class="container mb-3">
    <h1>Ofertas en vuelos disponibles</h1>
    <div class="row" id="offers-list">
      <% @offers.each do |offer| %>
        <% state = State.find(offer.state_id) %>
        <% country = Countrie.find(state.countrie_id) %>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 m-2" data-aos="zoom-in">
          <div class="card" style="width: 18rem;">
            <% if offer.photo_url.attached? %>
              <%= link_to(offer) do %>
                <%= cl_image_tag offer.photo_url.key, class:"card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to image_tag('https://images.unsplash.com/photo-1550435913-3f0d9ac998fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80', class:"card-img-top"), offer %>
            <% end %>
            <div class="card-body">
            <a id="offer-<%= offer.id %>"></a>
            <% if user_signed_in? %>
              <% if policy(offer).edit? %>
                <div class="card-edit-delete">
                  <p class="text-right my-1"><%= link_to "Editar", edit_offer_path(offer), class: "text-danger" %> |
                  <%= link_to "Eliminar",
                              offer,
                              method: :delete,
                              remote: true,
                              data: { confirm: "Estas seguro que deseas eliminar?" },
                              class: "text-danger" %></p>
                </div>
              <% end %>
            <% end %>
              <h2 class="card-text offer-text"><%= state.name %></h2>
              <p class="card-text offer-text"> <strong><i class="far fa-flag"></i></strong> <%= country.name %></p>
              <p class="card-text offer-text"> <strong><i class="far fa-calendar-alt"></i></strong> <%= offer.date %></p>
              <p class="card-text offer-text"> <strong><i class="fas fa-money-bill-wave"></i></strong> <%= offer.cost %>$</p>
              <p class="card-text offer-text"> <strong>Asientos:</strong> <%= offer.seats %></p>
              <% if offer.available %>
                <p class="card-text offer-text"> <strong>Estado:</strong> <strong class="text-success">Disponible</strong> </p>
                <%= link_to "Más Información...", offer, class: "btn btn-danger mt-3" %>
              <% else %>
                <p class="card-text offer-text"> <strong>Estado:</strong> <strong class="text-danger">No Disponible</strong></p>
                <button type="button" class="btn btn-danger mt-3" disabled>Más Información...</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
